/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */

@import 'node_modules/ionic/scss/ionic';

$textColor: #ccc;

//injector
//endinjector

@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,300);

.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
